body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #ededed;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
