.block {
  background: #f1f1f1;
  width: 35%;
  height: 80vh;
  position: absolute;
  right: 10rem;
  transform:skew(0deg,-5deg) translateY(7%);
}

.about-text {
  position: absolute;
  left: 8rem;
  top: 8rem;
}

.bio {
  max-width: 30rem;
  margin: 0.5rem 0 0 0;
  line-height: 28px;
}
