.headshot {
  width: 35%;
  position: absolute;
  bottom: 0;
  right: 15%;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 25%;
  top: 13rem;
}

.title {
  font-weight: 900;
  font-size: 4rem;
  margin: 0;
}

.button {
  background: none;
  padding: 0.8rem;
  border-radius: 0.5rem;

  &:hover {
    background: $c-primary;
    color: $c-white;
    transition-duration: 1s;
  }

  &__text {
    margin: 0;
  }
}
