.hidden {
  display: none;
}

.headshot {
  width: 48%;
  position: absolute;
  bottom: 0;
  right: 7%;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 15%;
  top: 34%;
}

.title {
  font-size: 6.5rem;
  margin: 0 0 -1rem 0;
  font-family: 'Old Standard TT';
}

.page-title {
  font-size: 5rem;
  margin: 0;
  font-family: 'Old Standard TT';
}

.see-work {
  margin: 0.5rem;
  font-size: 1.2rem;
}

.button {
  background: $c-primary;
  border-radius: 4px;
  padding: 0.3rem 0.7rem;
  color: $c-white;

  &:hover {
    transition: 0.5s;
    background: $c-darkgray;
  }
}

.social-media {
  &-list {
    display: flex;
    margin: 1rem 0;
  }

  &-icon {
    margin: 0 1rem;
    font-size: 2.5rem;
    color: $c-darkgray;
  }
}