.headshot {
  width: 48%;
  position: absolute;
  bottom: 0;
  right: 7%;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 15%;
  top: 34%;
}

.title {
  font-size: 6.5rem;
  margin: 0;
  font-family: 'Old Standard TT';
}

.page-title {
  font-size: 5rem;
  margin: 0;
  font-family: 'Old Standard TT';
}

.subtitle {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

.see-work {
  margin: 0;
  font-size: 1.2rem;
}
