.section {
  padding: $m-gutter;
}

.container {
  max-width: $m-maxwidth;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: calc(100% / 2 - 3rem);
    margin: 1.5rem;
  }
}

.pane {
  background: $c-gray;
}

.preview {
  margin: 1rem;
  width: calc(100% / 3 - 4.15rem);
  height: 18rem;
  cursor: pointer;
  object-fit: cover;
}

.card {
  padding: 1rem;
  background: $c-white;

  &__image {
    height: 15.5rem;
    object-fit: cover;
  }

  &__gif {
    display: none;
  }
  //
  // &:hover &__gif {
  //   display: block;
  // }
  //
  // &:hover &__image {
  //   display: none;
  // }

  &__title {
    font-size: 1.9rem;
    margin: 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-bottom {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    margin: 0 0.2rem;
  }
}

.thumbnail {
  cursor: pointer;
  // height: calc(100vh / 2 - 5rem);
}

.title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-links {
  font-size: 3rem;
}
