<div class="nav">
  {{#link-to 'home' class="nav-links__item hvr-underline-from-left"}}
    Home
  {{/link-to}}

  <div class="nav-links">
    {{#link-to 'about' class="nav-links__item hvr-underline-from-left"}}
      About
    {{/link-to}}

    {{#link-to 'projects' class="nav-links__item hvr-underline-from-left"}}
      Projects
    {{/link-to}}

    {{#link-to 'contact' class="nav-links__item hvr-underline-from-left"}}
      Contact
    {{/link-to}}
  </div>
</div>
{{!-- {{liquid-outlet}} --}}
{{outlet}}
