<div class="nav">
  {{#link-to 'home' class="home"}}
    Home
  {{/link-to}}

  <div class="nav-links">
    {{#link-to 'about' class="nav-link"}}
      About
    {{/link-to}}

    {{#link-to 'projects' class="nav-link"}}
      Projects
    {{/link-to}}

    {{#link-to 'contact' class="nav-link"}}
      Contact
    {{/link-to}}
  </div>
</div>

{{outlet}}
