<div class="nav">
  {{#link-to 'home' class="nav-links__item"}}
    <p>Home</p>
  {{/link-to}}

  <div class="nav-links">
    {{#link-to 'about' class="nav-links__item"}}
      <p>About</p>
    {{/link-to}}

    {{#link-to 'projects' class="nav-links__item"}}
      <p>Projects</p>
    {{/link-to}}

    {{#link-to 'contact' class="nav-links__item"}}
      <p>Contact</p>
    {{/link-to}}
  </div>
</div>
{{!-- {{liquid-outlet}} --}}
{{outlet}}
