<div class="nav">
  {{#link-to 'home' class="nav-links__item hvr-light"}}
    Home
  {{/link-to}}

  <div class="nav-links">
    {{#link-to 'about' class="nav-links__item hvr-light"}}
      About
    {{/link-to}}

    {{#link-to 'projects' class="nav-links__item hvr-light"}}
      Projects
    {{/link-to}}

    {{#link-to 'contact'}}
      <button class="nav-links__item contact__button">Contact Me</button>
    {{/link-to}}
  </div>
</div>
{{!-- {{liquid-outlet}} --}}
{{outlet}}
