<div class="home-text">
  <h1 class="title">Caleb Lee</h1>
  <p class="subtitle">Web Developer</p>
  <div class="nav-links">
    {{#link-to 'projects'}}
      <p class="hvr-underline-from-left see-work">See My Work</p>
    {{/link-to}}
  </div>
</div>
<img class="headshot" src="/img/headshot-color.png">
{{!-- {{liquid-outlet}} --}}
