<div class="home-text">
  <h1 class="name">Caleb Lee</h1>
  <p>Front-end Web Developer</p>
  <div class="nav-links">
    {{#link-to 'projects' class="nav-links__item"}}
      <p>See My Work</p>
    {{/link-to}}
  </div>
</div>
<img class="headshot" src="/img/headshot.png">
