<div class="home-text">
  <h1 class="title">Caleb Lee</h1>
  <p>Front-end Web Developer</p>
  <div class="nav-links">
    {{#link-to 'projects' class="button"}}
      <p class="button__text">See My Work</p>
    {{/link-to}}
  </div>
</div>
<img class="headshot" src="/img/headshot-color.png">
{{!-- {{liquid-outlet}} --}}
