<div class="block"></div>
<div class="about-text">
  <h1 class="name">About Me</h1>
  <p class="bio">Hi! My name is Caleb Lee, and I am a freelance developer based in Nashville, Tennessee.
    My passion for computer science sprouted from my love for audio engineering and the technologies
    that innovate music as we experience it. After a semester of studying Computer Science in university,
    I devoted three months to learning front-end development at the Iron Yard coding bootcamp in Nashville.
    Throughout the intensive program, I gained experience with working in teams of both front-end and back-end developers,
    GitHub flow, agile project planning,</p>
</div>
<img class="headshot" src="/img/headshot.png">
