<div class="block"></div>
<div class="about-text">
  <p class="page-title">About Me</p>
  <div class="centered">
    <img src="/img/headshot-icon.png" alt="" class="avatar">
  </div>
  <p class="bio">
    <p class="quote">"Two of the most important characteristics of good design are discoverability and understanding."</p>
    <p class="quote-tag">- Donald Norman, The Design of Everyday Things</p>
    <p>I am a front-end developer, graphic artist, and musician. I aim to create products with
      design that is consistent, simple, and self-explanatory. I love learning more about what I don't know
      and improving on what I do know.</p>
    <p>When I'm not coding or making music I spend my time cooking Korean food,
      playing Overwatch, or catching up on Arrested Development.</p>

      {{#link-to 'contact'}}
        <p class="hvr-underline-from-left see-work">Contact Me!</p>
      {{/link-to}}
    {{!-- My passion for web design began with my love for music, audio engineering, and the art of utilizing technologies
    to innovate the human experience. After a semester of studying Computer Science at Belmont University,
    I devoted three months to learning front-end development at the Iron Yard in Nashville.
    Throughout the intensive program, I gained experience with working in teams of both front-end and back-end developers,
    GitHub flow, and agile project planning. Since my graduation from the Iron Yard, I have been building websites
    for businesses and companies of various scales. --}}
  </p>
</div>
<img class="headshot-about" src="/img/headshot-color.png">
