<div class="block"></div>
<div class="about-text">
  <p class="about-title">About Me</p>
  <p class="bio">
    I am a web developer based in Nashville, Tennessee.
    My passion for computer science began with my love for music, audio engineering, and the art of utilizing technologies
    to innovate the human experience. After a semester of studying Computer Science at Belmont University,
    I devoted three months to learning front-end development at the Iron Yard coding bootcamp in Nashville.
    Throughout the intensive program, I gained experience with working in teams of both front-end and back-end developers,
    GitHub flow, and agile project planning. Since my graduation from the Iron Yard, I have been building websites
    for businesses and companies of various scales.
  </p>
</div>
<img class="headshot-about" src="/img/headshot-color.png">
