@media (min-width: 320px) and (max-width: 480px) {
  .headshot-about {
    display: none;
  }

  .block {
    width: 85%;
    left: 50%;
    top: 50%;
    transform: skew(0deg,-5deg) translate(-50%, -50%);
  }

  .about-text {
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .bio {
    line-height: 20px;
  }
}
