@media (min-width: 320px) and (max-width: 720px) {
  .card {
    &__image {
      width: 100%;
    }

    &__info {
    font-size: 0.9rem;
    }
  }

  .grid__item {
    width: 100%;
  }

  .preview {
    width: 81%;
  }

  .page-title {
    font-size: 3.5rem;
  }
}
