@media (min-width: 320px) and (max-width: 480px) {
  .headshot {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 87%;
  }

  .home-text {
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .title {
    font-size: 3.5rem;
  }
}
