@media (min-width: 320px) and (max-width: 1075px) {
  .headshot-about {
    display: none;
  }

  .avatar {
    display: block;
  }

  .block {
    width: 85%;
    height: 100%;
    left: 50%;
    top: 60%;
    transform: skew(0deg,-5deg) translate(-50%, -50%);
  }

  .about-text {
    width: 80%;
    margin-top: -2rem;
  }

  .bio {
    max-width: 100%;
    line-height: 25px;
  }
}
