<div class="nav">
  <div class="nav-links bordered">
    {{#link-to 'projects.art' class="nav-links__item hvr-dark"}}
    Art
    {{/link-to}}

    {{#link-to 'projects.web' class="nav-links__item hvr-dark"}}
    Web
    {{/link-to}}

    {{!-- {{#link-to 'projects.music' class="nav-links__item hvr-dark"}}
      Music
    {{/link-to}} --}}
  </div>
</div>
{{outlet}}
