<div class="hidden">
  <div class="home-text">
    <p class="title">Caleb Lee</p>
    <span class="social-media-list">
      <a target="_blank" class="hvr-dark social-media-icon" href="mailto:caleb.gwl@gmail.com">{{fa-icon "envelope"}}</a>
      <a target="_blank" class="hvr-dark social-media-icon" href="http://instagram.com/calebjwl">{{fa-icon "instagram"}}</a>
      <a target="_blank" class="hvr-dark social-media-icon" href="http://youtube.com/calebjwl">{{fa-icon "youtube"}}</a>
    </span>
    {{#link-to 'projects.art'}}
      <p class="see-work button">See My Work</p>
    {{/link-to}}
  </div>
  <img class="headshot" src="/img/painting.png">
</div>
