<div class="hidden">
  <div class="home-text">
    <p class="title">Caleb Lee</p>
    <p class="subtitle">Web Developer</p>
    {{#link-to 'projects.web'}}
      <p class="hvr-underline-from-left see-work">See My Work</p>
    {{/link-to}}
  </div>
  <img class="headshot" src="/img/painting.png">
</div>
