<div class="hidden">
  <div class="home-text">
    <p class="title">Caleb Lee</p>
    <p class="subtitle">Graphic Design • Music • Art</p>
    {{#link-to 'projects.art'}}
      <p class="see-work button">See My Work</p>
    {{/link-to}}
  </div>
  <img class="headshot" src="/img/painting.png">
</div>
