<div class="section">
  <div class="container">
    <p class="title centered">Graphic Design // Art</p>
    <div class="grid">
      {{#photo-swipe items=items history=false as |photoswipe|}}
        {{#each items as |item index|}}
          <img class="preview card" src={{item.src}} {{action 'open' (hash index=index) target=photoswipe}} />
        {{/each}}
      {{/photo-swipe}}
    </div>
  </div>
</div>
